.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transition: background-color 0.15s ease-in-out;
}

#quote-box {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 35%;
  padding: 16px;
  border-radius: 5px;
  background-color: white;
}

.quote-text {
  transition: background-color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

#text {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
}

#author {
  font-family: "EB Garamond", serif;
  text-align: right;
}

.card-controls {
  display: flex;
  justify-content: space-between;
}

#tweet-quote,
#new-quote {
  padding: 8px 12px 8px 12px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.15s ease-in-out;
}

#tweet-quote:hover,
#new-quote:hover {
  opacity: 0.9;
  cursor: pointer;
}

#new-quote {
  border-width: 0;
}
